## Preprocessing

In [184]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
from tensorflow.keras.callbacks import EarlyStopping

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [161]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_updated_df = application_df.drop(columns=["EIN", "NAME"])
application_updated_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [162]:
# review the data types
application_updated_df.dtypes

APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

In [163]:
# Determine the number of unique values in each column.
application_updated_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [164]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_updated_df.APPLICATION_TYPE.value_counts()

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [165]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ["T17", "T15", "T29", "T14", "T25", "T2", "T12", "T13", "T9"]

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [166]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
application_df.CLASSIFICATION.value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [167]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts = application_df.CLASSIFICATION.value_counts()
classification_counts[classification_counts > 1]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [168]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = classification_counts[classification_counts < 1800].index.tolist()


# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [169]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)
application_df.head()

,EIN,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_1 DAY RANCH RESCUE AND RURAL OKLAHOMA ANIMAL RESOURCE INC,NAME_100 BLACK MEN OF AMERICA,NAME_100 BLACK MEN OF MEMPHIS INC,NAME_100 BLACK MEN OF WEST GEORGIA INC,NAME_1150 WEBSTER STREET INC,NAME_116TH CAVALRY REGIMENT CHAPTER OF THE US CAVALRY & ARMOR ASSOCIATION,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,10520599,1,5000,1,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,10531628,1,108590,1,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,10547893,1,5000,0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,10553066,1,6692,1,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,10556103,1,142590,1,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,True,False

In [170]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"].values
X = application_df.drop(columns=["IS_SUCCESSFUL"]).values


# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [171]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [185]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=80, activation="relu", input_dim=X_train_scaled.shape[1]))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=40, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=10, activation="relu"))

# Dropout layer to prevent overfitting
nn.add(tf.keras.layers.Dropout(0.2))

# Fourth hidden layer
nn.add(tf.keras.layers.Dense(units=5, activation="relu"))

# Dropout layer to prevent overfitting
nn.add(tf.keras.layers.Dropout(0.2))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

c:\Users\deby4\anaconda3\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential_11"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_40 (Dense)                │ (None, 80)             │     1,569,040 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_41 (Dense)                │ (None, 40)             │         3,240 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_42 (Dense)                │ (None, 10)             │           410 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dropout_2 (Dropout)             │ (None, 10)             │             0 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_43 (Dense)                │ (None, 5)              │            55 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dropout_3 (Dropout)             │ (None, 5)              │             0 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_44 (Dense)                │ (None, 1)              │             6 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 1,572,751 (6.00 MB)

 Trainable params: 1,572,751 (6.00 MB)

 Non-trainable params: 0 (0.00 B)

In [186]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [187]:
# Early stopping callback
early_stopping = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [ ]:
# Train the model with more epochs and the early stopping callback
fit_model = nn.fit(X_train_scaled, y_train, epochs=60, batch_size=32, validation_split=0.2, callbacks=[early_stopping], verbose=2)

Epoch 1/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 15s 20ms/step - accuracy: 0.7440 - loss: 0.5228 - val_accuracy: 0.7866 - val_loss: 0.4651
Epoch 2/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 13s 20ms/step - accuracy: 0.9406 - loss: 0.1661 - val_accuracy: 0.5794 - val_loss: 1.7865
Epoch 3/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 14s 21ms/step - accuracy: 0.9633 - loss: 0.0953 - val_accuracy: 0.5751 - val_loss: 1.7110
Epoch 4/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 20s 20ms/step - accuracy: 0.9658 - loss: 0.0889 - val_accuracy: 0.5819 - val_loss: 1.3172
Epoch 5/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 13s 20ms/step - accuracy: 0.9656 - loss: 0.0888 - val_accuracy: 0.6027 - val_loss: 1.1584
Epoch 6/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 13s 20ms/step - accuracy: 0.9657 - loss: 0.0866 - val_accuracy: 0.6089 - val_loss: 1.0944
Epoch 7/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 13s 20ms/step - accuracy: 0.9654 - loss: 0.0886 - val_accuracy: 0.5874 - val_loss: 1.5166
Epoch 8/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 14s 21ms/step - accuracy: 0.9649 - loss: 0.0841 - val_accuracy: 0.5841 - val_loss: 1.5935
Epoch 9/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 13s 21ms/step - accuracy: 0.9659 - loss: 0.0849 - val_accuracy: 0.5788 - val_loss: 1.5804
Epoch 10/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 13s 20ms/step - accuracy: 0.9656 - loss: 0.0849 - val_accuracy: 0.5759 - val_loss: 1.6997
Epoch 11/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 13s 20ms/step - accuracy: 0.9634 - loss: 0.0869 - val_accuracy: 0.5775 - val_loss: 1.9927
Epoch 12/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 13s 20ms/step - accuracy: 0.9649 - loss: 0.0841 - val_accuracy: 0.5724 - val_loss: 3.1749
Epoch 13/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 14s 21ms/step - accuracy: 0.9631 - loss: 0.0906 - val_accuracy: 0.5732 - val_loss: 3.4433
Epoch 14/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 13s 20ms/step - accuracy: 0.9643 - loss: 0.0834 - val_accuracy: 0.5736 - val_loss: 4.5816
Epoch 15/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 13s 20ms/step - accuracy: 0.9659 - loss: 0.0820 - val_accuracy: 0.5734 - val_loss: 5.0117
Epoch 16/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 13s 21ms/step - accuracy: 0.9645 - loss: 0.0857 - val_accuracy: 0.5734 - val_loss: 4.3623
Epoch 17/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 13s 20ms/step - accuracy: 0.9654 - loss: 0.0876 - val_accuracy: 0.5734 - val_loss: 5.1085
Epoch 18/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 63s 98ms/step - accuracy: 0.9635 - loss: 0.0856 - val_accuracy: 0.5722 - val_loss: 5.5950
Epoch 19/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 15s 24ms/step - accuracy: 0.9670 - loss: 0.0806 - val_accuracy: 0.5740 - val_loss: 6.1887
Epoch 20/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 14s 22ms/step - accuracy: 0.9673 - loss: 0.0793 - val_accuracy: 0.5740 - val_loss: 5.4027
Epoch 21/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 14s 22ms/step - accuracy: 0.9661 - loss: 0.0825 - val_accuracy: 0.5714 - val_loss: 6.6029
Epoch 22/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 14s 21ms/step - accuracy: 0.9645 - loss: 0.0838 - val_accuracy: 0.5740 - val_loss: 5.7884
Epoch 23/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 14s 21ms/step - accuracy: 0.9646 - loss: 0.0840 - val_accuracy: 0.5736 - val_loss: 6.9194
Epoch 24/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 14s 21ms/step - accuracy: 0.9679 - loss: 0.0799 - val_accuracy: 0.5743 - val_loss: 7.3886
Epoch 25/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 14s 21ms/step - accuracy: 0.9660 - loss: 0.0798 - val_accuracy: 0.5724 - val_loss: 8.0539
Epoch 26/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 14s 21ms/step - accuracy: 0.9663 - loss: 0.0779 - val_accuracy: 0.5708 - val_loss: 7.7970
Epoch 27/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 14s 21ms/step - accuracy: 0.9676 - loss: 0.0774 - val_accuracy: 0.5734 - val_loss: 8.0378
Epoch 28/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 14s 21ms/step - accuracy: 0.9667 - loss: 0.0793 - val_accuracy: 0.5740 - val_loss: 7.7440
Epoch 29/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 14s 21ms/step - accuracy: 0.9677 - loss: 0.0766 - val_accuracy: 0.5730 - val_loss: 9.7142
Epoch 30/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 14s 21ms/step - accuracy: 0.9676 - loss: 0.0796 - val_accuracy: 0.5769 - val_loss: 6.4528
Epoch 31/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 14s 21ms/step - accuracy: 0.9667 - loss: 0.0781 - val_accuracy: 0.5757 - val_loss: 6.4006
Epoch 32/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 14s 22ms/step - accuracy: 0.9677 - loss: 0.0805 - val_accuracy: 0.5743 - val_loss: 10.3789
Epoch 33/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 14s 21ms/step - accuracy: 0.9685 - loss: 0.0775 - val_accuracy: 0.5745 - val_loss: 7.3163
Epoch 34/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 14s 21ms/step - accuracy: 0.9697 - loss: 0.0726 - val_accuracy: 0.5738 - val_loss: 9.0337
Epoch 35/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 14s 21ms/step - accuracy: 0.9660 - loss: 0.0793 - val_accuracy: 0.5784 - val_loss: 6.8534
Epoch 36/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 14s 22ms/step - accuracy: 0.9689 - loss: 0.0735 - val_accuracy: 0.5755 - val_loss: 8.3712
Epoch 37/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 14s 21ms/step - accuracy: 0.9706 - loss: 0.0723 - val_accuracy: 0.5759 - val_loss: 8.4837
Epoch 38/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 14s 21ms/step - accuracy: 0.9682 - loss: 0.0756 - val_accuracy: 0.5753 - val_loss: 11.4302
Epoch 39/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 14s 21ms/step - accuracy: 0.9681 - loss: 0.0758 - val_accuracy: 0.5749 - val_loss: 10.9926
Epoch 40/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 261s 406ms/step - accuracy: 0.9696 - loss: 0.0742 - val_accuracy: 0.5907 - val_loss: 7.1390
Epoch 41/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 15s 23ms/step - accuracy: 0.9712 - loss: 0.0744 - val_accuracy: 0.5732 - val_loss: 14.6727
Epoch 42/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 14s 21ms/step - accuracy: 0.9694 - loss: 0.0724 - val_accuracy: 0.5769 - val_loss: 10.6845
Epoch 43/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 14s 21ms/step - accuracy: 0.9689 - loss: 0.0724 - val_accuracy: 0.5773 - val_loss: 10.8243
Epoch 44/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 14s 21ms/step - accuracy: 0.9696 - loss: 0.0721 - val_accuracy: 0.5782 - val_loss: 10.3625
Epoch 45/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 14s 21ms/step - accuracy: 0.9704 - loss: 0.0727 - val_accuracy: 0.5736 - val_loss: 14.1834
Epoch 46/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 14s 21ms/step - accuracy: 0.9704 - loss: 0.0710 - val_accuracy: 0.6556 - val_loss: 4.3094
Epoch 47/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 14s 21ms/step - accuracy: 0.9688 - loss: 0.0733 - val_accuracy: 0.6253 - val_loss: 5.9020
Epoch 48/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 14s 21ms/step - accuracy: 0.9716 - loss: 0.0710 - val_accuracy: 0.5979 - val_loss: 8.2708
Epoch 49/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 14s 21ms/step - accuracy: 0.9690 - loss: 0.0715 - val_accuracy: 0.5870 - val_loss: 11.2038
Epoch 50/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 14s 21ms/step - accuracy: 0.9708 - loss: 0.0699 - val_accuracy: 0.5813 - val_loss: 11.3046
Epoch 51/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 14s 21ms/step - accuracy: 0.9704 - loss: 0.0698 - val_accuracy: 0.6208 - val_loss: 5.8213
Epoch 52/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 14s 21ms/step - accuracy: 0.9711 - loss: 0.0696 - val_accuracy: 0.5823 - val_loss: 10.2404
Epoch 53/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 14s 21ms/step - accuracy: 0.9689 - loss: 0.0765 - val_accuracy: 0.5798 - val_loss: 10.6279
Epoch 54/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 14s 22ms/step - accuracy: 0.9715 - loss: 0.0696 - val_accuracy: 0.5796 - val_loss: 11.2670
Epoch 55/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 14s 21ms/step - accuracy: 0.9705 - loss: 0.0702 - val_accuracy: 0.5767 - val_loss: 15.2565
Epoch 56/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 14s 21ms/step - accuracy: 0.9707 - loss: 0.0719 - val_accuracy: 0.5866 - val_loss: 11.6982
Epoch 57/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 14s 21ms/step - accuracy: 0.9727 - loss: 0.0665 - val_accuracy: 0.5979 - val_loss: 9.5087
Epoch 58/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 14s 22ms/step - accuracy: 0.9721 - loss: 0.0689 - val_accuracy: 0.5767 - val_loss: 17.7276
Epoch 59/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 14s 21ms/step - accuracy: 0.9697 - loss: 0.0713 - val_accuracy: 0.5743 - val_loss: 19.0336
Epoch 60/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 14s 21ms/step - accuracy: 0.9711 - loss: 0.0684 - val_accuracy: 0.5740 - val_loss: 12.4081
Epoch 61/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 14s 21ms/step - accuracy: 0.9701 - loss: 0.0711 - val_accuracy: 0.5747 - val_loss: 12.5574
Epoch 62/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 14s 21ms/step - accuracy: 0.9734 - loss: 0.0642 - val_accuracy: 0.5728 - val_loss: 12.8793
Epoch 63/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 41s 63ms/step - accuracy: 0.9741 - loss: 0.0653 - val_accuracy: 0.5724 - val_loss: 11.1366
Epoch 64/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 15s 23ms/step - accuracy: 0.9725 - loss: 0.0667 - val_accuracy: 0.5736 - val_loss: 13.3288
Epoch 65/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 14s 22ms/step - accuracy: 0.9724 - loss: 0.0666 - val_accuracy: 0.5734 - val_loss: 12.5784
Epoch 66/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 14s 22ms/step - accuracy: 0.9738 - loss: 0.0638 - val_accuracy: 0.5730 - val_loss: 12.4263
Epoch 67/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 14s 22ms/step - accuracy: 0.9721 - loss: 0.0674 - val_accuracy: 0.5726 - val_loss: 14.5664
Epoch 68/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 14s 22ms/step - accuracy: 0.9728 - loss: 0.0647 - val_accuracy: 0.5722 - val_loss: 14.2637
Epoch 69/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 14s 22ms/step - accuracy: 0.9706 - loss: 0.0675 - val_accuracy: 0.5728 - val_loss: 15.3779
Epoch 70/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 14s 21ms/step - accuracy: 0.9718 - loss: 0.0669 - val_accuracy: 0.5728 - val_loss: 15.8991
Epoch 71/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 14s 22ms/step - accuracy: 0.9743 - loss: 0.0640 - val_accuracy: 0.5734 - val_loss: 15.0668
Epoch 72/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 14s 21ms/step - accuracy: 0.9720 - loss: 0.0646 - val_accuracy: 0.5730 - val_loss: 15.2341
Epoch 73/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 14s 22ms/step - accuracy: 0.9730 - loss: 0.0670 - val_accuracy: 0.5732 - val_loss: 15.8898
Epoch 74/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 14s 22ms/step - accuracy: 0.9739 - loss: 0.0613 - val_accuracy: 0.5759 - val_loss: 15.9147
Epoch 75/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 14s 21ms/step - accuracy: 0.9721 - loss: 0.0650 - val_accuracy: 0.5724 - val_loss: 17.3752
Epoch 76/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 14s 22ms/step - accuracy: 0.9717 - loss: 0.0681 - val_accuracy: 0.5738 - val_loss: 17.6464
Epoch 77/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 14s 22ms/step - accuracy: 0.9721 - loss: 0.0664 - val_accuracy: 0.5730 - val_loss: 18.2941
Epoch 78/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 14s 21ms/step - accuracy: 0.9729 - loss: 0.0643 - val_accuracy: 0.5726 - val_loss: 13.4702
Epoch 79/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 14s 22ms/step - accuracy: 0.9709 - loss: 0.0682 - val_accuracy: 0.5726 - val_loss: 12.9068
Epoch 80/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 14s 22ms/step - accuracy: 0.9743 - loss: 0.0618 - val_accuracy: 0.5732 - val_loss: 11.9128
Epoch 81/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 14s 22ms/step - accuracy: 0.9718 - loss: 0.0677 - val_accuracy: 0.5728 - val_loss: 12.7357
Epoch 82/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 14s 22ms/step - accuracy: 0.9743 - loss: 0.0655 - val_accuracy: 0.5720 - val_loss: 10.7519
Epoch 83/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 14s 21ms/step - accuracy: 0.9704 - loss: 0.0698 - val_accuracy: 0.5724 - val_loss: 10.6079
Epoch 84/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 14s 22ms/step - accuracy: 0.9746 - loss: 0.0656 - val_accuracy: 0.5714 - val_loss: 9.2443
Epoch 85/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 14s 22ms/step - accuracy: 0.9714 - loss: 0.0651 - val_accuracy: 0.5730 - val_loss: 11.6887
Epoch 86/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 14s 22ms/step - accuracy: 0.9725 - loss: 0.0660 - val_accuracy: 0.5734 - val_loss: 9.2931
Epoch 87/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 14s 22ms/step - accuracy: 0.9726 - loss: 0.0635 - val_accuracy: 0.5734 - val_loss: 10.5065
Epoch 88/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 14s 22ms/step - accuracy: 0.9727 - loss: 0.0634 - val_accuracy: 0.5728 - val_loss: 11.6905
Epoch 89/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 23s 36ms/step - accuracy: 0.9726 - loss: 0.0652 - val_accuracy: 0.5769 - val_loss: 14.4877
Epoch 90/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 14s 22ms/step - accuracy: 0.9716 - loss: 0.0660 - val_accuracy: 0.5745 - val_loss: 15.4856
Epoch 91/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 14s 21ms/step - accuracy: 0.9755 - loss: 0.0588 - val_accuracy: 0.5792 - val_loss: 15.7081
Epoch 92/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 14s 22ms/step - accuracy: 0.9725 - loss: 0.0666 - val_accuracy: 0.5868 - val_loss: 8.9273
Epoch 93/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 14s 22ms/step - accuracy: 0.9729 - loss: 0.0673 - val_accuracy: 0.5705 - val_loss: 16.7058
Epoch 94/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 14s 21ms/step - accuracy: 0.9741 - loss: 0.0628 - val_accuracy: 0.5776 - val_loss: 8.4387
Epoch 95/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 14s 21ms/step - accuracy: 0.9742 - loss: 0.0632 - val_accuracy: 0.5740 - val_loss: 11.4240
Epoch 96/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 14s 21ms/step - accuracy: 0.9711 - loss: 0.0653 - val_accuracy: 0.5747 - val_loss: 10.5235
Epoch 97/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 14s 22ms/step - accuracy: 0.9713 - loss: 0.0674 - val_accuracy: 0.5761 - val_loss: 10.0082
Epoch 98/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 14s 21ms/step - accuracy: 0.9734 - loss: 0.0627 - val_accuracy: 0.5825 - val_loss: 9.6750
Epoch 99/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 14s 21ms/step - accuracy: 0.9742 - loss: 0.0615 - val_accuracy: 0.5794 - val_loss: 11.9097
Epoch 100/100
644/644 ━━━━━━━━━━━━━━━━━━━━ 14s 22ms/step - accuracy: 0.9742 - loss: 0.0614 - val_accuracy: 0.6045 - val_loss: 8.9766

In [175]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - 2ms/step - accuracy: 0.6583 - loss: 0.8696
Loss: 0.8696215748786926, Accuracy: 0.6583090424537659

In [176]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE