## Preprocessing

In [72]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [73]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_updated_df = application_df.drop(columns=["EIN", "NAME"])
application_updated_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [74]:
# review the data types
application_updated_df.dtypes

APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

In [75]:
# Determine the number of unique values in each column.
application_updated_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [76]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_updated_df.APPLICATION_TYPE.value_counts()

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [77]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ["T17", "T15", "T29", "T14", "T25", "T2", "T12", "T13", "T9"]

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [78]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
application_df.CLASSIFICATION.value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [79]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts = application_df.CLASSIFICATION.value_counts()
classification_counts[classification_counts > 1]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [80]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = classification_counts[classification_counts < 1800].index.tolist()


# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [81]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)
application_df.head()

,EIN,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_1 DAY RANCH RESCUE AND RURAL OKLAHOMA ANIMAL RESOURCE INC,NAME_100 BLACK MEN OF AMERICA,NAME_100 BLACK MEN OF MEMPHIS INC,NAME_100 BLACK MEN OF WEST GEORGIA INC,NAME_1150 WEBSTER STREET INC,NAME_116TH CAVALRY REGIMENT CHAPTER OF THE US CAVALRY & ARMOR ASSOCIATION,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,10520599,1,5000,1,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,10531628,1,108590,1,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,10547893,1,5000,0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,10553066,1,6692,1,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,10556103,1,142590,1,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,True,False

In [82]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"].values
X = application_df.drop(columns=["IS_SUCCESSFUL"]).values


# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [83]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [84]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=80, activation="relu", input_dim=X_train_scaled.shape[1]))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

c:\Users\deby4\anaconda3\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential_2"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_6 (Dense)                 │ (None, 80)             │     1,569,040 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_7 (Dense)                 │ (None, 30)             │         2,430 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_8 (Dense)                 │ (None, 1)              │            31 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 1,571,501 (5.99 MB)

 Trainable params: 1,571,501 (5.99 MB)

 Non-trainable params: 0 (0.00 B)

In [85]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Train the model

Epoch 1/30
804/804 ━━━━━━━━━━━━━━━━━━━━ 14s 16ms/step - accuracy: 0.7308 - loss: 0.5385
Epoch 2/30
804/804 ━━━━━━━━━━━━━━━━━━━━ 13s 16ms/step - accuracy: 0.9514 - loss: 0.1400
Epoch 3/30
804/804 ━━━━━━━━━━━━━━━━━━━━ 13s 16ms/step - accuracy: 0.9629 - loss: 0.0934
Epoch 4/30
804/804 ━━━━━━━━━━━━━━━━━━━━ 13s 16ms/step - accuracy: 0.9647 - loss: 0.0877
Epoch 5/30
804/804 ━━━━━━━━━━━━━━━━━━━━ 13s 16ms/step - accuracy: 0.9616 - loss: 0.0903
Epoch 6/30
804/804 ━━━━━━━━━━━━━━━━━━━━ 13s 16ms/step - accuracy: 0.9644 - loss: 0.0854
Epoch 7/30
804/804 ━━━━━━━━━━━━━━━━━━━━ 13s 16ms/step - accuracy: 0.9644 - loss: 0.0888
Epoch 8/30
804/804 ━━━━━━━━━━━━━━━━━━━━ 13s 16ms/step - accuracy: 0.9640 - loss: 0.0869
Epoch 9/30
804/804 ━━━━━━━━━━━━━━━━━━━━ 13s 16ms/step - accuracy: 0.9649 - loss: 0.0854
Epoch 10/30
804/804 ━━━━━━━━━━━━━━━━━━━━ 13s 16ms/step - accuracy: 0.9627 - loss: 0.0879
Epoch 11/30
804/804 ━━━━━━━━━━━━━━━━━━━━ 13s 16ms/step - accuracy: 0.9672 - loss: 0.0819
Epoch 12/30
804/804 ━━━━━━━━━━━━━━━━━━━━ 13s 16ms/step - accuracy: 0.9628 - loss: 0.0858
Epoch 13/30
804/804 ━━━━━━━━━━━━━━━━━━━━ 13s 16ms/step - accuracy: 0.9656 - loss: 0.0849
Epoch 14/30
804/804 ━━━━━━━━━━━━━━━━━━━━ 13s 16ms/step - accuracy: 0.9652 - loss: 0.0843
Epoch 15/30
804/804 ━━━━━━━━━━━━━━━━━━━━ 13s 16ms/step - accuracy: 0.9654 - loss: 0.0835
Epoch 16/30
804/804 ━━━━━━━━━━━━━━━━━━━━ 13s 16ms/step - accuracy: 0.9635 - loss: 0.0892
Epoch 17/30
804/804 ━━━━━━━━━━━━━━━━━━━━ 13s 16ms/step - accuracy: 0.9664 - loss: 0.0837
Epoch 18/30
804/804 ━━━━━━━━━━━━━━━━━━━━ 13s 16ms/step - accuracy: 0.9645 - loss: 0.0846
Epoch 19/30
804/804 ━━━━━━━━━━━━━━━━━━━━ 14s 17ms/step - accuracy: 0.9640 - loss: 0.0877
Epoch 20/30
804/804 ━━━━━━━━━━━━━━━━━━━━ 14s 17ms/step - accuracy: 0.9677 - loss: 0.0805
Epoch 21/30
804/804 ━━━━━━━━━━━━━━━━━━━━ 13s 17ms/step - accuracy: 0.9656 - loss: 0.0821
Epoch 22/30
804/804 ━━━━━━━━━━━━━━━━━━━━ 13s 16ms/step - accuracy: 0.9665 - loss: 0.0821
Epoch 23/30
804/804 ━━━━━━━━━━━━━━━━━━━━ 13s 16ms/step - accuracy: 0.9687 - loss: 0.0777
Epoch 24/30
804/804 ━━━━━━━━━━━━━━━━━━━━ 13s 17ms/step - accuracy: 0.9654 - loss: 0.0834
Epoch 25/30
804/804 ━━━━━━━━━━━━━━━━━━━━ 217s 270ms/step - accuracy: 0.9663 - loss: 0.0805
Epoch 26/30
804/804 ━━━━━━━━━━━━━━━━━━━━ 15s 19ms/step - accuracy: 0.9672 - loss: 0.0820
Epoch 27/30
804/804 ━━━━━━━━━━━━━━━━━━━━ 14s 17ms/step - accuracy: 0.9662 - loss: 0.0810
Epoch 28/30
804/804 ━━━━━━━━━━━━━━━━━━━━ 13s 16ms/step - accuracy: 0.9689 - loss: 0.0777
Epoch 29/30
804/804 ━━━━━━━━━━━━━━━━━━━━ 13s 16ms/step - accuracy: 0.9680 - loss: 0.0781
Epoch 30/30
804/804 ━━━━━━━━━━━━━━━━━━━━ 13s 16ms/step - accuracy: 0.9682 - loss: 0.0817

In [89]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - 2ms/step - accuracy: 0.7076 - loss: 0.5675
Loss: 0.5674959421157837, Accuracy: 0.7076385021209717

In [88]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE